[Unit]
Description=Trunk Recorder Script

[Service]
User=[user] #your username
Group=[user] #your username
Environment="PATH=/home/luke/bin/:/usr/local/bin:/usr/bin" #Make sure this points to your FFMPEG bin
WorkingDirectory=/home/[user]/trunk-build #replace [user] with your username
ExecStart=/home/[user] /trunk-build/auto-restart.sh #replace [user] with your username
Restart=always

[Install]
WantedBy=multi-user.target

# copy this file to /etc/systemd/system
# systemctl daemon-reload
# systemctl enable trunk-recorder.service
# systemctl start trunk-recorder.service
#if you get an error it's likely that the script is not executable. Run "chmod a+x auto-restart.sh"
